body{
    font-family: 'Montserrat', sans-serif;
    color: #575757;
    margin: 0;
}
h1{
    font-size: 48px;
    font-weight: 700;
}
h2 {
    font-size: 40px;
    margin: 0;
}
h3{
    font-size: 25px;
    color: #000000;
    margin-bottom: 0;
}
p{
    font-size: 18px;
    line-height: 30px;
}
.hero-section{
    display: flex;
}
.half-width {
    width: 50%;
    margin-left: 100px;
    margin-right: 100px;
}
.hero-left-column {
    padding: 100px 0px;
    margin-left: 100px;
}
.hero-right-column {
    margin-right: 100px;
}
.hero-right-column img {
    padding: 30px 0px;
    width: 600px;
    height: 600px;
}
.span-color{
    color: #0089ff;
}
.hero-left-column P{
    margin-bottom: 50px;
}
.link-botton {
    background-image: linear-gradient(to left,#0089ff, #a5d4ee);
    padding: 20px 40px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    color: #000000;
    box-shadow: 0 0 20px 2px #7ec2e8;
}
.about-section{
    display: flex;
    background-image: url(images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}
.person-image {
    display: flex;
    position: relative;
    justify-content: center;
}
.person-image img{
    width: 300px;
    height: 500px;
    position: absolute;
    bottom: 0; 
    align-items: center;
}
.about-description{
    padding: 150px 0;
}
.about-description p {
    margin-bottom: 50px;
}
.recipes-section {
    margin: 50px 100px;
}
.recipes-section h2, .center{
    text-align: center;
}
.recipe-items{
    display: flex;
    width: 350px ; 
    margin-top: 50px;  
}
.recipe-items img {
    width: 300px;
    height: 250px;
}
.box-shadow {
    box-shadow: 0px 0px 20px 0 rgb(223 223 223);
    padding: 20px;
    border-radius: 20px;
    margin-right: 60px;
}
.box-shadow img{
    border-radius: 20px;
}
.number-section{
    display: flex;
    box-shadow: 0px 0px 20px 0 rgb(223, 223, 223);
    margin: 100px 100px;
    border-radius: 20px;
    padding: 50px;
    justify-content: center;
}
.social-num {
    margin-left: 105px;
    margin-right: 105px;
}
.social-num h2 {
    font-size: 40px;
    color: #000000;
}
.category {
    background-color: #EBF8FF;
    padding: 20px 0;
    text-align: center;
}
.cat-widget {
    display: flex;
    justify-content: center;
    margin: 0 100px;
}
.cat-widget a {
    text-decoration: none;
    color: #333333;
}
.cat-widget a:hover {
    color: #0089ff;
    text-decoration: underline;
}
.cat {
    margin: 40px 12px;
}
.cat-bg img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
}
.book-section {
    background-image: url(images/book-sec-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 100px;
}
.book-desc h2,.book-desc p {
    color: #eaeaea;
    margin-bottom: 25px;
}
.book-image img{
    width: 120px;
    height: 170px;
    margin-right: 20px;
}
footer {
    border-top: 1px solid #EBECEC;
    background-color: #0b0d17;
    text-align: center;
    padding-top: 50px;
}
footer p {
    margin-top: 10px;
    color: #c5c5c5;
    font-size: 14px;
}
.footer-widget {
    background-color: black;
    display: flex;
    padding: 10px;
}
.copyright {
    margin-left: 100px;
}
.social-link li {
    text-align: right;
    list-style: none;
    display: inline;
    padding: 10px;
    color: #fff;
}
.social-link {
    position: absolute;
    right: 0;
    margin-right: 100px;
}
.social-link a {
    color: #c5c5c5;
}